<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= rootpath %>/"><%= application_name %></a>
    <!--<div class="d-lg-none">
        <div class="trim_header profile"><a><img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjaRpGoUYOpSdkVNwHyRPciNYVZ7I2iLEiIfDXPdQVbzYPqz2I30NihR8QlX_7v7P2jcdd4SnaW2kF1ja-6T3KjWiY1NVm8lOR5QYlH_XHEo9Xsh5O7Urk4H4SzW5qnILP0PFGXpgTZUMzF/s400/medical_koutai_woman.png" alt="User Icon"></a></div>
    </div>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% if (isAuth) { %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= rootpath %>/logout">ログアウト</a>
                </li>
            <% } else { %>
                <% if (current_path == "/signin") { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= rootpath %>/signup">サインアップ</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= rootpath %>/signin">サインイン</a>
                    </li>
                <% } %>
            <% } %>
            <% if (refurl) { %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= refurl %>">前のページ</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="<%= hpurl %>">ホームページ</a>
            </li>
        </ul>
        <div class="trim_header profile d-none d-lg-block">
            <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjaRpGoUYOpSdkVNwHyRPciNYVZ7I2iLEiIfDXPdQVbzYPqz2I30NihR8QlX_7v7P2jcdd4SnaW2kF1ja-6T3KjWiY1NVm8lOR5QYlH_XHEo9Xsh5O7Urk4H4SzW5qnILP0PFGXpgTZUMzF/s400/medical_koutai_woman.png" alt="User Icon">
        </div>
    </div>
</nav>
<br>
